amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.6.0
billiard==3.3.0.23
bleach==1.4.3
celery==3.1.23
Django==1.11
django-bootstrap3==8.2.2
django-celery==3.1.17
django-haystack==2.6.1
django-markdown2==0.3.0
django-redis==4.4.2
django-taggit==0.18.2
django-updown==1.0.1
django-widget-tweaks==1.4.1
gunicorn==19.5.0
html5lib==0.9999999
jieba==0.38
kombu==3.0.35
Markdown==2.6.8
markdown2==2.3.4
mysqlclient==1.3.10
Pillow==3.3.1
Pygments==2.2.0
PyMySQL==0.7.11
pysolr==3.4.0
pytz==2017.2
redis==2.10.5
requests==2.10.0
six==1.10.0
sorl-thumbnail==12.3
vine==1.1.3
Whoosh==2.7.4
